## Reading multiple excel files using pandas and concatenating them sequentially

In [1]:
# This works with Python 3.6
# Run the  script in the directory which contains the excel files.
# In my directory, the filenames of the excelfiles are "file1.xlsx", "file2.xlsx", etc. First six rows     doesnot contain data.
# The following code reads the excel file and concat them in order.

import pandas as pd 
import glob

In [2]:
file1=pd.read_excel("file1.xlsx", skiprows=6, index_col=0) #Reading the first file to look at the structure of the data.  
file1

    A  B    C  D  E
R1  4  2  0.1  2  6
R2  2  3  2.0  5  2
R3  1  5  3.0  4  3

In [3]:
filenames=glob.glob("*.xlsx")   # This will give a list of files without any order.
print(filenames)

['file1.xlsx', 'file10.xlsx', 'file11.xlsx', 'file12.xlsx', 'file13.xlsx', 'file14.xlsx', 'file15.xlsx', 'file17.xlsx', 'file18.xlsx', 'file19.xlsx', 'file2.xlsx', 'file20.xlsx', 'file3.xlsx', 'file5.xlsx', 'file7.xlsx', 'file9.xlsx', '~$file1.xlsx']

In [4]:
filenames_order=["file{}.xlsx".format(f) for f in range(len(filenames)) if "file{}.xlsx".format(f) in filenames]
print(filenames_order)

['file1.xlsx', 'file2.xlsx', 'file3.xlsx', 'file5.xlsx', 'file7.xlsx', 'file9.xlsx', 'file10.xlsx', 'file11.xlsx', 'file12.xlsx', 'file13.xlsx', 'file14.xlsx', 'file15.xlsx']

In [5]:
#Reading the excel files in order  
df_files=[pd.read_excel("file{}.xlsx".format(f), skiprows=6, index_col=0) for f in range(len(filenames)) if "file{}.xlsx".format(f) in filenames]
df_files[0]

    A  B    C  D  E
R1  4  2  0.1  2  6
R2  2  3  2.0  5  2
R3  1  5  3.0  4  3

In [6]:
dfc=pd.concat(df_files, keys=filenames_order) 
dfc.head()

               A  B    C  D  E
file1.xlsx R1  4  2  0.1  2  6
           R2  2  3  2.0  5  2
           R3  1  5  3.0  4  3
file2.xlsx R1  4  2  0.1  2  6
           R2  2  3  2.0  5  2

In [7]:
dfs=dfc.unstack()
dfs.head(9)

             A        B          C            D        E
            R1 R2 R3 R1 R2 R3   R1   R2   R3 R1 R2 R3 R1 R2 R3
file1.xlsx   4  2  1  2  3  5  0.1  2.0  3.0  2  5  4  6  2  3
file2.xlsx   4  2  1  2  3  5  0.1  2.0  3.0  2  5  4  6  2  3
file3.xlsx   4  2  1  2  3  5  0.1  2.0  3.0  2  5  4  6  2  3
file5.xlsx   4  2  1  2  3  5  0.1  2.0  3.0  2  5  4  6  2  3
file7.xlsx   4  2  1  2  3  5  0.1  2.0  3.0  2  5  4  6  2  3
file9.xlsx   4  2  1  2  3  5  0.1  2.0  3.0  2  5  4  6  2  3
file10.xlsx  4  2  1  2  3  5  0.1  2.0  3.0  2  5  4  6  2  3
file11.xlsx  4  2  1  2  3  5  0.1  2.0  3.0  2  5  4  6  2  3
file12.xlsx  4  2  1  2  3  5  0.1  2.0  3.0  2  5  4  6  2  3